# Entorno virtual
MLOPS_FINAL-venv/
*-venv/

# Carpetas de datos y artefactos
/data/
/artifacts/

# Archivos de datos brutos
*.csv
*.parquet

# Excepción para tu archivo de estructura (si existe)
!Base_datos.csv

# Archivos de Jupyter/Python
.ipynb_checkpoints/
__pycache__/
*.pyc