# Core
pandas
numpy
scikit-learn
ipykernel
jupyter

# Data Formats
pyarrow         # Necesario para leer y escribir .parquet
joblib   # Necesario para guardar modelos

# API
fastapi
uvicorn[standard]

# Dashboard
streamlit

# Testing & Quality
pytest
